/**************************/
/* BELOW 600px */
/**************************/

@media (max-width: 35em) {
  html {
    font-size: 50%;
  }

  section.advice-container {
    width: auto;
    margin: 0 4rem;

    div.divider-icon {
      background-image: url(../images/pattern-divider-mobile.svg);
    }
  }
}
