@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }
  .note {
    @apply bg-white rounded-[7px] shadow-[0_2px_5px_#ccc] p-[10px] w-[240px] m-[16px] float-left;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0 16px;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #64748b;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

form.create-note button:hover,
form.create-note button:active {
  background: #5979a9;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #94a3b8;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}
