@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }

  .image-container {
    @apply grid grid-cols-3 gap-[25px] my-[2.8rem] mx-auto w-screen max-w-[1250px] 2xl:max-w-[1000px] xl:grid-cols-2 xl:max-w-[800px] lg:max-w-[580px] md:grid-cols-1 md:max-w-[400px] sm:max-w-[300px];
  }
  h4 {
    @apply text-[25px];
  }
}

/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
